.buildpath
.settings/
.project
*.patch
.idea/
.git/
/vendor/
.phpintel/
.env
.DS_Store
*.lock
.phpunit*
/node_modules
/public/dist/
/public/fonts/
/public/mix-manifest.json
package.lock
composer.lock
stderr.log
stdout.log
